.left-content {
	width: 32%;
	background-color: #FF3333;
	float: left;
	height: 100px;
}

.middle-content {
	width: 32%;
	background-color: #66CC33;
	float: left;
	height: 100px;
}

.right-content {
	width: 32%;
	background-color: #0066CC;
	float: left;
	height: 100px;
}

#numberInput {
	width: 20px;
}